<header class="bg-primary text-white py-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-tools me-2"></i>
                Multi-Tools Hub
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#image-tools">Image Tools</a></li>
                            <li><a class="dropdown-item" href="#seo-tools">SEO Tools</a></li>
                            <li><a class="dropdown-item" href="#text-tools">Text Tools</a></li>
                            <li><a class="dropdown-item" href="#developer-tools">Developer Tools</a></li>
                            <li><a class="dropdown-item" href="#calculators">Calculators</a></li>
                            <li><a class="dropdown-item" href="#converters">Converters</a></li>
                            <li><a class="dropdown-item" href="#security-tools">Security Tools</a></li>
                            <li><a class="dropdown-item" href="#social-tools">Social Media Tools</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 